/* 共通設定 */
/* フォントの設定 */
.nothing-you-could-do {
  font-family: 'Nothing You Could Do', cursive;
}

/* da担当header---ここから--- */
/* ヘッダー全体を横並びに */
header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* メニューバー内の項目を横並びに */
.nav-bar {
  display: flex;
  padding-left: 12px;
}

/* タイトル部分 */
.navbar-brand {
  color: rgba(0, 0, 0, 0.9);
}

/* デフォルトの上書き */
.navbar-brand:hover {
  color: rgba(0, 0, 0, 0.9);
}

.nav-list {
  display: flex; /* デフォルト(display:list-item)の上書き */
  padding-left: 0;
  margin-bottom: 0;
  align-items: center;
}

.nav-item {
  display: flex;
}

.nav-link {
  padding: 0.5rem 0.5rem;
  color: rgba(0, 0, 0, 0.55);
}

.nav-link:hover {
  color: rgba(0, 0, 0, 0.9);
}

/* da担当header---ここまで--- */

/* wataru担当 カルーセル ---ここから--- */
.slider {
  height: 50vh;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.slider-item {
  min-width: 100%;
  animation: sliderAnime 12s ease-in-out infinite;
}

.slider__img {
  max-width: 100%;
  min-width: 100%;
}

/* アニメーションの設定 */
@keyframes sliderAnime {
  0% {
  }
  12.5% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  37.5% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  62.5% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-200%);
  }
  87.5% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}

/* ヒーローセクションテキスト */
.welcome {
  color: rgb(161, 156, 142);
  padding-top: 1.2rem;
  font-size: 3rem;
}

.cafe-recursion {
  color: rgb(161, 156, 142);
  padding-top: 1.2rem;
  font-size: 3rem;
}
/* wataru担当 カルーセル ---ここまで--- */

/* Kuma担当メインコンテンツ---ここから--- */

/* カード設定 */
.card-content-wrapper {
  display: flex;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-style {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 0 8px 8px 8px;
  padding: 10px;
  background-color: #f1f1f1;
}

/* タイトル文字の大きさ */
.middle-font {
  font-size: 1.8rem;
}

.card-title {
  text-align: center;
}

.card-content {
  width: 45%;
}

.card-photo {
  height: 180px;
  width: 240px;
}

/* Kuma担当メインコンテンツ---ここまで--- */

/* da担当footer---ここから--- */
.copy-right {
  text-align: right;
  font-size: 0.8rem;
}
/* da担当footer---ここまで--- */
